body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    min-width: fit-content;
}

.navigation {
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.navigation .header_logo {
    flex: auto;
    color: white;
    min-width: fit-content;
}

.navigation .links {
    color: gray;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation .links a {
    margin-left: 10px;
}

.picture_header {
    flex: auto;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.picture_header .description {
    flex: 1;
    color: white;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.picture_header .description button {
    background-color: #3882F6;
    border: none;
    font-size: 24px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

.picture_header .centered_image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.information .info_images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: auto;
}

.information .info_images .figure_demo {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 15px;
    text-align: center;
}

.information .info_images .figure_demo .image_demo {
    flex: auto;
    border: 3px solid blue;
    border-radius: 10px;
    width: auto;
    height: 100px;
}

.quote {
    display: flex;
    flex-flow: wrap column;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #E5E7EB;
}

.quote .quote_text {
    font-size: xx-large;
    font-style: italic;
}

.quote .quote_author {
    font-size: large;
    font-weight: bold;
    align-self: flex-end;
}